@charset "utf-8";
/*@import url("angular-material.min.css");*/

button, a {
	cursor: pointer;
}

#work-time-tracker {
	width: 100%;
	max-width: 500px;
	margin: 8px auto;
}

wtt-robot {
	display: block;
	overflow: hidden;
	margin: 8px;
}

wtt-robot button:first-of-type {
	float: left;
}

wtt-robot button:last-of-type {
	float: right;
}

wtt-book {
	display: block;
	margin: 8px;
}

wtt-book-entry {
	display: block;
}

wtt-robot-monitor {
	display: block;
	margin: 8px;
}

debug {
	font-family: monospace;
}


