

@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,700|Fira+Mono:400,700|Roboto+Mono:300,400,500,700|Roboto:300&subset=all);

html,
body {
  margin: 0;
  font-size: large;
  line-height: 1.625em;
  /*overflow-y: scroll;*/
  font-weight: 300;
  font-family: "Roboto Mono";
}

desk {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: ghostwhite;
  min-height: 100vh;
  box-sizing: border-box;
  /*font-family: monospace;*/
  position: relative;
}

desk > * {
  /*flex-grow: 1;*/
}

desk focus {
  display: block;
}

desk .action {
  padding: 0 1em;
  height: 2rem;
  line-height: 2rem !important;
  text-align: center;
  background-color: white;
  cursor: pointer;
  border-radius: 0.5rem;
  background: url(stripes.png);
  display: block;
  text-shadow:
    -1px -1px 0px whitesmoke,
    -1px 1px 0px whitesmoke,
    1px -1px 0px whitesmoke,
    1px 1px 0px whitesmoke;
}

desk .action.icon {
  padding: 0 0.25em;
}

desk .action.edit {
  background: none;
  /*opacity: 0.3;*/
  /*color: rgba(0,0,0,0.1);*/
}

desk .action.top,
desk .action.bottom,
desk .action.left,
desk .action.right {
  position: fixed;
}

desk .top {
  top: 1rem;
}

desk .bottom {
  bottom: 1rem;
}

desk .left {
  left: 1rem;
}

desk .right {
  right: 1rem;
}

/* Columns */

columns {
  display: block;
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

columns column {
  width: 100%;
  flex-grow: 1;
  overflow-x: hidden;
}

/* Debug */

columns.debug {
  font-size: medium;
  line-height: 1rem;
}

columns.debug column + column {
  border-left: solid lightgrey 1px;
}

columns.debug column {
  padding: 1rem;
}

columns.debug pre {
  margin: 0;
}

.debug .crimson {
  color: crimson;
}



/* Utility */

.paragraph-divider {
  min-height: 1.625em;
}
