<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="mr-hour">
	<style>
		:host[format*="hour"]:after {
			margin-left: 0.2em;
			content: attr(unit);
			@apply(--mr-hour-unit);
		}
	</style>

	<template></template>

	<script>
		Polymer({
			is: "mr-hour",
			properties: {
				value: {
					type: Number,
					reflectToAttribute: true,
					observer: "_render"
				},
				format: {
					type: String,
					value: "hh",
					reflectToAttribute: true,
					observer: "_render"
				}
			},

			attached: function () {
				// Если не дали значение, выводим текущее время (фича)
				if (!this.value && this.value != 0) {
					this.value = (new Date()).getHours();
				}
			},

			_render: function (v) {
				if (this.value || this.value == 0) {
					this.textContent = this._format(this.value);
					this.setAttribute("unit", this._unit(this.value));
				} else {
					this.textContent = "";
					this.removeAttribute("unit");
				}
			},

			_format: function (h) {
				var stringArray = String(h).split("");
				if (stringArray.length == 1 && String(this.format).search("hh") > -1) {
					stringArray.unshift("0");
				} else if (stringArray.length > 3) {
					for (var i = -3; i > -1 * stringArray.length; i -= 3) {
						stringArray.splice(i, 0, " ");
						i -= 1;
					}
				}
				return stringArray.join("");
			},

			_unit: function (hours) {
				var digit = hours % 10,
					digits = hours % 100;
				if (digit == 0 || (digits >= 5 && digits <= 19) || (digit >= 5 && digit <= 9)) {
					return "часов";
				} else if (digit == 1) {
					return "час";
				} else {
					return "часа";
				}
			}
		});
	</script>
</dom-module>
