@import url("../bower_components/angular-material/angular-material.min.css");
/*@import url("http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=cyrillic");*/
@import url("angular-material-exo2-font.min.css");
/*@import url("angular-material-opensans-font.min.css");*/

/*	Rules for sizing the icon.*/
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

md-icon.material-icons.md-18 { width: 18px; height: 18px; }
md-icon.material-icons.md-24 { width: 24px; height: 24px; }
md-icon.material-icons.md-36 { width: 36px; height: 36px; }
md-icon.material-icons.md-48 { width: 48px; height: 48px; }

/*	Rules for using icons as black on a light background.*/
.md-dark { color: rgba(0, 0, 0, 0.54) !important; }
.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/*	Rules for using icons as white on a dark background.*/
.md-light { color: rgba(255, 255, 255, 1) !important; }
.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.md-icon-button .material-icons {
	position: relative;
	top: -1px;
	/*vertical-align: top;*/
	/*line-height: inherit;*/
}
